<configuration>
  
  <appender name="awslambda" class="org.jlib.cloud.aws.lambda.logback.AwsLambdaAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <messageSplitRegex>SYSTEM</messageSplitRegex>
            <fieldNames>
                <timestamp>timeStamp</timestamp>
                <message>message</message>
                <logger>logger</logger>
                <level>level</level>
                <stackTrace>stackTrace</stackTrace>
                <thread>[ignore]</thread>
                <levelValue>[ignore]</levelValue>
                <version>[ignore]</version>
            </fieldNames>
        </encoder>
  </appender>

  <root level="DEBUG">
      <appender-ref ref="awslambda" />
  </root>
</configuration>